torch==2.1.0
torchvision==0.16.0
pytorch-lightning==0.7.5
test-tube
kornia==0.2.0
opencv-python==4.8.1.78
matplotlib
jupyter

# for mesh
PyMCubes
pycollada
trimesh
pyglet

# for point cloud
plyfile
open3d
